@import '~bootstrap/scss/bootstrap';

$square-background-color: #ffffff;
$square-border-color: #000000;


.square {
  background-color: square-background-color;
  border: 2px solid $square-border-color;
  height: 170px;
}

.hidden {
  visibility: hidden;
}

.top {
  border-top: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}
