@import '~bootstrap/scss/bootstrap';

$square-background-color: #ffffff;
$square-border-color: #000000;
$game-play-font-color: #fff

.square {
  background-color: square-background-color;
  border: 2px solid $square-border-color;
  height: 170px;
}

.game-play {
  font-size: 127px;
  font-family: helvetica;
}

.top{
  border-top: none;
}

.right {
  border-right: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}
